Options -indexes
Options +FollowSymLinks
<IfModule mod_rewrite.c>
	# Tell PHP that the mod_rewrite module is ENABLED. Then check, using: array_key_exists('HTTP_MOD_REWRITE', $_SERVER)
	SetEnv HTTP_MOD_REWRITE On
	RewriteEngine on
	
	# missing images:
	<FilesMatch ".(jpg|png|gif)$">
	ErrorDocument 404 /_code/images/404.gif
	</FilesMatch>

	ErrorDocument 404 /404.php
</IfModule>

# MIME Types we want to make sure Apache will serve...
# AddType audio/mp4 .mp4 .m4a
# AddType audio/mpeg .mp3 .mpg .mpeg
# AddType audio/ogg .oga .ogg
# AddType audio/wav .wav
# AddType audio/webm .webm
# AddType video/mp4 .mp4 .m4v
# AddType video/ogg .ogv
# AddType video/webm .webm
