/****
* css modifications for small screens (width less than or equal to 720px)
****/
#header h1#mainHeader{height:80px;}
#header h1#mainHeader a img{max-width:50%;}

/*
#mobileMenu{visibility:visible; top:20px;}
*/