/****
* css modifications for small screens (width less than or equal to 720px)
****/
#header h1#mainHeader{height:100px;}
#header h1#mainHeader a img{max-width:70%;}

#content div.divItem:first-child{margin-top:60px;}